@import "tailwindcss";

@theme {
  /* colors for tests */
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-red: #DF301C;
  --color-black: #000000;
  --color-green: #165823;
  --color-blue: #3A86FF;
  --color-orange: #FF9100;
  --color-yellow: #FFD758;


  /* Colors from design screenshots */
  /* --color-cream: #F7F4EE;
  --color-slate-dark: #1E293B;
  --color-rust: #C86446;
  --color-beige-card: #E3D5C8; */

  --color-cream: #F3E4C9; /* main beige background */ 
  --color-slate-dark: #1E293B; /* blue font color */
  --color-rust: #C86446; /* orange accent */
  --color-beige-card: #E3D5C8; /* shadow beige for landing page use ! */

  /* Font Families */
  --font-serif: "Playfair Display", Georgia, serif;
  --font-sans: "Inter", system-ui, sans-serif;
}

/* Default base setup */
body {
  background-color: var(--color-cream);
  color: var(--color-slate-dark);
  font-family: var(--font-sans);
}