@import "tailwindcss";

/* default light theme */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --color-primary: #1A2A4F;
  --color-secondary: #FFDBB6;
  --color-accent: #F7A5A5;

  --color-light-text: #ffffff;
  --color-dark-text: #1A2A4F;

  --color-gray1: #bababa;
  --color-gray2: #999999;
  --color-gray3: #797979;
  --color-gray4: #5b5b5b;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
